.service-details-box {
    background-color: #f0f0f0;
    margin-top: 100px; /* Adjust the margin-top value */
    margin-right: 500px; /* Add margin-right to move it to the right */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    float: right; /* Align to the right */
}

.service-details-box h2 {
    margin-bottom: 20px;
    margin-left: 140px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #0056b3;
}
